{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h2><a class="article-title" href="#">What requirements must you meet to become a NASA astronaut?</a></h2>
        <a class="mr-2" href="#"></a>
        <small class="text-muted"></small>
      </div>
      <ol class="article-content">
        <li>A bachelor's degree in engineering, biological science, physical science, computer science or mathematics.</li>
        <li>At least three years of related professional experience obtained after degree completion OR at least 1,000 hours pilot-in-command time on jet aircraft. </li>
        <li>The ability to pass the NASA long-duration astronaut physical. Distant and near visual acuity must be correctable to 20/20 for each eye. The use of glasses is acceptable.</li>
      </ol>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h2><a class="article-title" href="#">The graphs below depict the top
           undergraduate(top) and graduate(bottom) degrees obtained by NASA Astronauts </a></h2>
        <a class="mr-2" href="#"></a>
        <small class="text-muted"></small>
      </div>
      <h4><a class="article-title" href="#"></a></h4>
      <img class='data' src="{{url_for('static', filename='up_undergrad.png')}}"/>
      <img class='data' src="{{url_for('static', filename='up_grad.png')}}"/>
      <p class="article-content"></p>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h2><a class="article-title" href="#">The graph below depicts which
          branch of military astronauts have served</a></h2>
        <a class="mr-2" href="#"></a>
        <small class="text-muted"></small>
      </div>
      <h4><a class="article-title" href="#"></a></h4>
      <img class='graph' src="{{url_for('static', filename='up_military.png')}}"/>
      <p class="article-content"></p>
    </div>
  </article>
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h2><a class="article-title" href="#">The graph below depict the number of women and
          who have been astronauts.</a></h2>
        <a class="mr-2" href="#"></a>
        <small class="text-muted"></small>
      </div>
      <h4><a class="article-title" href="#"></a></h4>
      <img class='graph' src="{{url_for('static', filename='up_gender.png')}}"/>
      <p class="article-content"></p>
    </div>
  </article>
{% endblock content %}
